body {
    margin: 0;
    font-family: verdana;
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    background-color: #EFEFEF;
  }
  #content {
    background-color: #FFFFFF;
    padding: 1rem;
    width: 50%;
    border: solid 1px black;
    margin: 0 auto;
  }
  
  #profile-pic {
    border: solid 1px black;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  
  #contacts-list {
    list-style-type: none;
    padding: 0;
  }
  
  main > div {
    background-color: #EFEFEF;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  main img {
    width: 90%;
    margin: 0 5%;
  }